html {
  font-size: 10px;
}

body {
  background: #4B5E6A;
}

canvas {
  background: #333636 -webkit-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -moz-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -ms-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -o-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
}

/*splash page*/

.splash {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.title-container {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 7rem;
  color: rgba(217, 200, 147, 1);
}

.title.row {
  display: flex;
}

.right {

}

.left {
  color: white;
}

.bottom {
  font-size: 4rem;
  color: #ADADAD;
  display: flex;
  justify-content: center;
}

.icon-bar {
  position: absolute;
  bottom: 10%;
  display: flex;
  width: 20%;
}

.social-share-icon {
  flex: 1;
  padding: 3%;
}

.social-share-icon:hover {
  flex: 2;
}

/*contact page*/
.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*projects page*/
.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.project-index {
  position: absolute;
  top: 20%;
}

.button-container {
  display flex;
}

/*skills page*/
.skills {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*about page*/
.about {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: url('http://res.cloudinary.com/devbook/image/upload/v1478304925/network_xwupq3.jpg') no-repeat fixed;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(51, 54, 54, 0.8);
}
