canvas {
  background: #333636 -webkit-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -moz-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -ms-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -o-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
}
