html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;

}

body {
  background: #4B5E6A;
  margin: 0px;
}

/*remove default button styling*/
button{
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}

button::-moz-focus-inner{
  padding : 0;
  border  : 0;
}

canvas {
  background: #333636 -webkit-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -moz-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -ms-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 -o-linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
  background: #333636 linear-gradient(to bottom, #333636 45%, #4B5E6A 97.5%);
}

.nav-icon {
  position: fixed;
  top: 1.25%;
  right: 1.5%;
  height: 6vh;
  width: 6vh;
  z-index: 2;
}

.rotate90{
  transform: rotate(90deg);
  transition: transform 0.5s
}

.titlebar {
  width: 100%;
  height: 7%;
}

.floating {
  position: absolute;
  bottom: -1.5%;
}

.fixed {
  position: fixed;
  top: 0px;
  z-index: 1;
  border: 1px solid rgba(217, 200, 147, 1);
  background: #333636;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200%;
  right: 0%;
  top: 100%;
}

.dropdown-item {
  color: rgba(217, 200, 147, 1);
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  cursor: pointer;
}

.highlighted {

}

/*splash page*/

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title-container {
  position: absolute;
  top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 7rem;
  color: rgba(217, 200, 147, 1);
}

.title.row {
  display: flex;
}

.right {

}

.left {
  color: white;
}

.bottom {
  font-size: 4rem;
  color: #ADADAD;
  display: flex;
  justify-content: center;
}

.icon-bar {
  position: absolute;
  bottom: 10%;
  display: flex;
  width: 20%;
  height: 10%;
}

.social-share-icon {
  flex: 1;
  padding: 3%;
  cursor: pointer;
  fill: rgba(217, 200, 147, 1);
  transition: flex 0.5s;
}

.social-share-icon:hover {
  flex: 2.5;
  /*transition: flex 0.5s;*/
}

/*contact page*/
.contact {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*projects page*/
.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.project-index {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  padding: 5px;
}

.project-selector {
  padding: 5px;
  color: rgba(217, 200, 147, 1);
  font-size: 1.5rem;
  border: solid 1px;
  cursor: pointer;
}

.project-selector:hover {
  color: #333636;
  background: rgba(217, 200, 147, 1);
}

.project-list {
  display: flex;
}

.project-container {
  width: 33%;
}

.project-image {
  width: 100%;
}

/*skills page*/
.skills {
  height: 100vh;
  width: 100vw;
  display: flex;
}

/*about page*/
.about {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('http://res.cloudinary.com/devbook/image/upload/v1478304925/network_xwupq3.jpg') no-repeat fixed;
}


/*util*/
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(51, 54, 54, 0.8);
}

.hidden {
  display: none;
}
